{% extends "base.html" %}
{% load static %}
{% block body %}

<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .flexy{
        display: flex;
        align-items: center;
        
    }
    .left{
        border: 2px solid ;
    }
    .right{
        border-top: 2px solid ;
        border-right: 2px solid;
        border-bottom:  2px solid;
    }
    .tbody{
        height:auto;
    }
    .top{
        border-bottom:  2px solid; 
    }
.groups:hover{
    background-color: orange;
color: white;
    
}
.footers{
  
   border-top: 1px solid white;
}
.stock_summary{
    background-color:rgba(0,0,0,.3);
}
.trns{
    border-right: 2px solid white;
    
}
.trns1{
    margin-left:1.5px;
    border-top: 2px solid white;
}
</style>
<div class="stock_summary">
    <h6 class="heading p-2 text-light text-center bg-info m-0 ">LEDGER MONTHLY SUMMARY</h6>
    
        <div class="thead row container-fluid p-0 m-0">
            
 
            <div class="left col-sm-7 flexy col-6  m-0 ">
                <h4>P a r t i c u l a r s</h4>
            </div>

            <div class="right col-sm-5 col-6 p-0 m-0 ">

                <div  class="text-center top p-2">
                    <h6>Cash</h6>
                    <h6>ABC</h6>

                    <p>april-1-2022</p>

                </div>

                <div class="row">
                    <div class="col-sm-6 trns">
                    <h6 class="text-center  pb-1">Transactions</h6>
                    <div class="row pl-2 trns1">
                        <div class="col-sm-6 text-center" style="border-right:2px solid ;">Debit</div>
                        <div class="col-sm-6 text-center">Credit</div>
                       
                    </div>
                </div>
                <div class="col-sm-6">
                    <h6 class="text-center">Closing Balance</h6>
                </div>
                   

                </div>

            </div>

        </div>

    <div class="tbody p-0 m-0 container-fluid">

        <div class="groups row container-fluid p-1 m-0">
            <div class="name col-sm-11 col-6 p-0 mt-2 flexy">
             <h6 class="ml-2">Opening Balance</h6>
            </div>
            <div class="col-sm-1 col-4">
                <h6>120000 Dr</h6>
            </div>
            </div>
            <div class="groups row container-fluid p-1 m-0">
            <div class="name col-sm-7 col-6 p-0  flexy">
             <a href="/cash/"><h6 class="ml-3">April</h6></a>
            </div>
              <div class="col-sm-2">20000 Dr </div>
              <div class="col-sm-2">12000</div> 
                <div class="col-sm-1">30000</div>
            
            </div>
            <div class="groups row container-fluid p-1 m-0">
                <div class="name col-sm-7 col-6 p-0  flexy">
                 <a href="/cash/"><h6 class="ml-3">May</h6></a>
                </div>
                  <div class="col-sm-2">10000 Dr </div>
                  <div class="col-sm-2">22000</div> 
                    <div class="col-sm-1">40000</div>
                
                </div>
                <div class="groups row container-fluid p-1 m-0">
                    <div class="name col-sm-7 col-6 p-0  flexy">
                     <a href="/cash/"><h6 class="ml-3">June</h6></a>
                    </div>
                      <div class="col-sm-2">30000 Dr </div>
                      <div class="col-sm-2">14000</div> 
                        <div class="col-sm-1">330000</div>
                    
                    </div>
            
                    <div class="groups row container-fluid p-1 m-0">
                        <div class="name col-sm-7 col-6 p-0  flexy">
                         <a href="/cash/"><h6 class="ml-3">June</h6></a>
                        </div>
                          <div class="col-sm-2">220000 Dr </div>
                          <div class="col-sm-2">11000</div> 
                            <div class="col-sm-1">320000</div>
                        
                        </div>
                        <div class="groups row container-fluid p-1 m-0">
                            <div class="name col-sm-7 col-6 p-0  flexy">
                             <a href="/cash/"><h6 class="ml-3">July</h6></a>
                            </div>
                              <div class="col-sm-2">20000 Dr </div>
                              <div class="col-sm-2">12000</div> 
                                <div class="col-sm-1">30000</div>
                            
                            </div>
                            <div class="groups row container-fluid p-1 m-0">
                                <div class="name col-sm-7 col-6 p-0  flexy">
                                 <a href="/cash/"><h6 class="ml-3">August</h6></a>
                                </div>
                                  <div class="col-sm-2">200000 Dr </div>
                                  <div class="col-sm-2">13000</div> 
                                    <div class="col-sm-1">390000</div>
                                
                                </div>
                                <div class="groups row container-fluid p-1 m-0">
                                    <div class="name col-sm-7 col-6 p-0  flexy">
                                     <a href="/cash/"><h6 class="ml-3">September</h6></a>
                                    </div>
                                      <div class="col-sm-2">210000 Dr </div>
                                      <div class="col-sm-2">123000</div> 
                                        <div class="col-sm-1">330000</div>
                                    
                                    </div>
                                    <div class="groups row container-fluid p-1 m-0">
                                        <div class="name col-sm-7 col-6 p-0  flexy">
                                         <a href="/cash/"><h6 class="ml-3">October</h6></a>
                                        </div>
                                          <div class="col-sm-2">220000 Dr </div>
                                          <div class="col-sm-2">122000</div> 
                                            <div class="col-sm-1">320000</div>
                                        
                                        </div>
                                        <div class="groups row container-fluid p-1 m-0">
                                            <div class="name col-sm-7 col-6 p-0  flexy">
                                             <a href="/cash/"><h6 class="ml-3">November</h6></a>
                                            </div>
                                              <div class="col-sm-2">20000 Dr </div>
                                              <div class="col-sm-2">12000</div> 
                                                <div class="col-sm-1">30000</div>
                                            
                                            </div>
                                            <div class="groups row container-fluid p-1 m-0">
                                                <div class="name col-sm-7 col-6 p-0  flexy">
                                                 <a href="/cash/"><h6 class="ml-3">December</h6></a>
                                                </div>
                                                  <div class="col-sm-2">20000 Dr </div>
                                                  <div class="col-sm-2">12000</div> 
                                                    <div class="col-sm-1">30000</div>
                                                
                                                </div>
                                                <div class="groups row container-fluid p-1 m-0">
                                                    <div class="name col-sm-7 col-6 p-0  flexy">
                                                     <a href="/cash/"><h6 class="ml-3">January</h6></a>
                                                    </div>
                                                      <div class="col-sm-2">270000 Dr </div>
                                                      <div class="col-sm-2">122000</div> 
                                                        <div class="col-sm-1">30000</div>
                                                    
                                                    </div>
                                                    <div class="groups row container-fluid p-1 m-0">
                                                        <div class="name col-sm-7 col-6 p-0  flexy">
                                                         <a href="/cash/"><h6 class="ml-3">February</h6></a>
                                                        </div>
                                                          <div class="col-sm-2">20000 Dr </div>
                                                          <div class="col-sm-2">12000</div> 
                                                            <div class="col-sm-1">30000</div>
                                                        
                                                        </div>
                                                        <div class="groups row container-fluid p-1 m-0">
                                                            <div class="name col-sm-7 col-6 p-0  flexy">
                                                             <a href="/cash/"><h6 class="ml-3">March</h6></a>
                                                            </div>
                                                              <div class="col-sm-2">280000 Dr </div>
                                                              <div class="col-sm-2">132000</div> 
                                                                <div class="col-sm-1">30000</div>
                                                            
                                                            </div>

          </div>


<div class="footers container-fluid p-2">
<div class="row">
    <div class="col-sm-7 col-6"><h6>G r a n d T o t a l</h6></div>
    <div class="col-sm-2 col-6 text-end"><p>1000.0Rs</p></div>
    <div class="col-sm-2 col-6 text-end"><p>1000.0Rs</p></div>
    <div class="col-sm-1 col-6 text-end"><p>1000.0Rs</p></div>


</div>
</div>

</div>

{% endblock%}